version: "3.9"

services:
  system_app:
    build:
      context: ./logging_system
      dockerfile: Dockerfile
    container_name: logging_system
    volumes:
      - ./data/log:/app/log
    depends_on:
      - zookeeper
      - kafka

  log_collector:
    build:
      context: ./log_collector
      dockerfile: Dockerfile
    container_name: log_collector
    environment:
      - KAFKA_BROKER=kafka:29092
    volumes:
      - ./data/log:/app/log
    depends_on:
      - zookeeper
      - kafka
      - system_app

  log_processor:
    build:
      context: ./log_processor
      dockerfile: Dockerfile
    container_name: log_processor
    environment:
      - KAFKA_BROKER=kafka:29092
    volumes:
      - ./data/processor_data:/app/data
    depends_on:
      - zookeeper
      - kafka
      - system_app
      - log_collector

  zookeeper:
    image: confluentinc/cp-zookeeper:7.7.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    volumes:
      - zookeeper_data:/var/lib/zookeeper/data
      - zookeeper_log:/var/lib/zookeeper/log

  kafka:
    image: confluentinc/cp-kafka:7.7.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://kafka:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT_INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    volumes:
      - kafka_data:/var/lib/kafka/data

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    depends_on:
      - kafka
    ports:
      - "8090:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181

  kafka-client:
    image: confluentinc/cp-kafka:7.7.0
    container_name: kafka-client
    depends_on:
      - kafka
    entrypoint: ["tail", "-f", "/dev/null"]

volumes:
  zookeeper_data:
  zookeeper_log:
  kafka_data:
  system_data:
  logs:
